.graph {
  padding: 0 20px 20px 20px;
  background: $grey10;
  user-select: none;

  $logic: #ffa011;
  $columnBg: #face90;
  $physicalBorder: #4c7bff;
  $physicalBg: #abbeff;
  $prefixSize: 9px;
  $bigPrefixSize: 12px;

  .empty-graph {
    text-align: center;
    padding-top: 180px;

    p {
      margin-top: 15px;
      font-size: 12px;
    }
  }

  .prefix-column,
  .prefix-physical,
  .prefix-logic {
    display: inline-block;
    width: $prefixSize;
    height: $prefixSize;
    border-width: 1px;
    border-style: solid;
    margin-right: 4px;

    &-big {
      width: $bigPrefixSize;
      height: $bigPrefixSize;
    }
  }

  .prefix-column {
    border-radius: 50%;
    border-color: $logic;
    background: $columnBg;
  }

  .prefix-physical {
    border-color: $physicalBorder;
    background: $physicalBg;
  }

  .prefix-logic {
    border-color: $logic;
  }

  .graph-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 12px;

    &-left {
      display: flex;

      >div {
        &:not(:first-child) {
          span {
            margin-left: 35px;
          }
        }
      }

      .el-radio-group {
        margin-right: 10px;
      }

      .el-radio__label {
        font-size: 12px;
      }
    }

    &-right {
      display: flex;

      li {
        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }

  .graph-body {
    height: calc(100% - 34px);
  }

  @mixin grabbing {

    &:active,
    &:focus {
      cursor: grabbing;
    }
  }

  .graph-body {
    position: relative;

    .graph-container {
      width: 100%;
      height: 100%;
      min-height: 300px;
      cursor: grab;
      position: relative;
      overflow: hidden;

      @include grabbing;

      svg {
        height: 100%;
        width: 100%;
        position: absolute;
      }

      .nodes {
        position: absolute;
      }
    }

    .graph-tools {
      position: absolute;
      right: 0;
      bottom: 0;

      li {
        line-height: 28px;
        color: $grey4;

        &:hover {
          color: $grey3;
          cursor: pointer;
        }
      }
    }
  }


  $nodeGap: 5px;
  $nodeHeight: 24px;
  $groupPadding: 5px;
  $bodyPadding: 13px;
  $tableWidth: 190px;
  $rootTableWidth: 100px;

  .root-table {
    position: absolute;
    text-align: center;
    font-size: 12px;
    width: $rootTableWidth;

    p {
      // height: 12px;
    }

    .prefix-physical {
      background-color: rgba($physicalBorder, 0.8);
      margin: 0;
    }

    .name {
      max-width: $rootTableWidth;
    }
  }

  .relation-table {
    // height: 400px;
    position: absolute;
    overflow: hidden;
    width: $tableWidth;

    &-left {
      .node {
        text-align: right;
      }

      [class^=prefix-] {
        margin-left: 4px;
        margin-right: 0;
      }
    }

    &-head {
      margin-bottom: 10px;

      .el-autocomplete {
        .el-input__inner {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0;
          padding-left: 22px;
        }

        .el-input__prefix,
        .el-input__icon {
          left: 2px;
          width: 18px;
        }
      }
    }

    &-body {
      position: relative;
      padding: $bodyPadding 0;

      .el-icon-arrow-down,
      .el-icon-arrow-up {
        position: absolute;
        left: 50%;
        margin-left: -7px;
        color: $grey4;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          color: $grey2;
        }
      }

      .el-icon-arrow-up {
        top: 0;
      }

      .el-icon-arrow-down {
        bottom: 0;
      }

      @mixin node($color) {
        display: flex;
        height: $nodeHeight;
        align-items: center;

        .node-name {
          flex: 1;
          height: 18px;
          padding: 0 6px;
          // display: inline-block;
          vertical-align: bottom;
          max-width: calc(100% - 16px);
        }

        &:hover,
        &.is-active {
          cursor: pointer;
          color: $color;

          [class^=prefix-] {
            background-color: rgba($color, 0.8);
          }
        }

        &.is-active {
          .node-name {
            color: $color;
            border-radius: ($nodeHeight - 2) / 2;
            border: 1px solid rgba($color, 0.3);
            background-color: rgba($color, 0.2);
          }
        }
      }

      .node-group {
        font-size: 12px;

        &.node-logic {
          padding: $groupPadding;
          border: 1px solid rgba($logic, 0.3);
          border-radius: 4px;

          dt {
            color: $grey4;
            margin-bottom: $nodeGap;
            height: $nodeHeight;
            line-height: $nodeHeight;
            cursor: pointer;

            span.node-name {
              max-width: calc(100% - 70px);
            }
          }

          .node {
            @include node($logic);

            &:not(:last-child) {
              margin-bottom: $nodeGap;
            }
          }
        }

        &.node-physical {
          padding: 0 $groupPadding + 1;

          .node {
            @include node($physicalBorder);
          }
        }

        &:not(:last-child) {
          margin-bottom: $nodeGap;
        }
      }
    }
  }
}