.side-attr {
  .attr-name {
    color: $grey4;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .operate-btn {
    padding-bottom: 15px;
    margin-top: 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .view-form {
    .el-form-item {
      margin-bottom: 5px;
    }
    .el-form-item__label {
      color: $grey4;
    }
  }
}