.ops-aside {

  &-tabs {
    margin-top: 10px;
    border-bottom: 1px solid $sideMenuStress;

    &-item {
      display: inline-block;
      padding: 7px 15px;
      position: relative;
      color: $grey5;
      cursor: pointer;

      &:hover {
        color: $grey7;
      }

      &.is-active {
        color: $grey10;

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background: lighten($--color-primary, 15%);
          left: 0;
          bottom: -1px;
        }
      }
    }
  }

  $height: 40px;

  // .node-grey {
  //   color: $info;
  // }

  .node-label {
    color: $grey10;
  }

  .node-icon {
    color: lighten($--color-primary, 15%);
  }

  .node-row {
    display: block !important;
    line-height: 16px;
    text-align: left;
  }

  &-body {
    flex: 1;
    overflow: auto;
    @include scrollbar($grey10);

    .sv-tree.ops-aside-tree.el-tree {
      flex: none;
      overflow: visible;

      .el-tree-node__content {
        height: auto;
        line-height: 26px;

        .icon {
          // font-size: 16px;
        }

        .custom-node {
          &:not(.node-leaf) {
            overflow: hidden;
          }

          .node-content {
            // width: calc(100% - 20px);
            width: 100%;

            .flex-layout {
              width: 100%;

              .node-id {
                width: 60px;
              }

              .flex-1 {
                width: calc(100% - 60px);

                p {
                  width: calc(100% - 20px);
                }
              }
            }
          }
        }

        .node-leaf {
          height: 40px;
          line-height: 40px;
        }

        .node-id {
          margin-right: 7px;
          display: inline-block;
          max-width: 23%;
        }
      }

      .el-tree-node__children .node-name {
        // max-width: calc(100% - 23% - 25px);
      }
    }
  }

  &-list-header {
    height: $height;
    line-height: $height;
    color: $info;

    .el-col:first-child {
      text-indent: 45px;
    }
  }

  &-list-body {

    // >span {
    // &:nth-child(odd) {
    //   .el-row {
    //     background-color: lighten($sideMenu, 2%);
    //   }
    // }
    // }
    &:nth-child(even) {}

    .el-row {
      // height: $height;
      line-height: $height;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: lighten($sideMenu, 2%);
      }

      &.is-active {
        background: $sideMenuActive;
      }

      .status {
        margin: 0 3px 0 5px;
      }

      .node-icon {
        margin-right: 4px;
      }

      .node-id {
        width: calc(100% - 45px);
      }
    }

    // }
  }

  &-nomore {
    height: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    color: $grey10;
    font-size: 14px;
    text-align: center;
  }

  .checkbox-group {
    margin: 0 12px 10px;

    .el-checkbox__label {
      color: $grey8;
    }
  }

  .status-icon {
    position: absolute;
    left: -18px;
    top: 12px;
    font-size: 16px;
    line-height: 1;
  }

}