$--color-primary: #2253D4;
$warning: #e6a23c;
$error: #ca435b;
$success: #2BC048;
$info: rgba(255, 255, 255, 0.55);
$transition: all .3s ease-in-out;
$headerHeight: 50px;
$headerBg: #000d2b;
$headerHover: #14243E;
$mutlSideWidth: 265px;
$mutlSideWidthCollapse: 45px;
$sideMenu: #333D55;
$sideMenuStress: #1A2138;
$sideMenuDeep: #262E44;
$sideMenuHover: #394860;
$sideMenuActive: #516085;
$tabTitleColor: #2253D4;
$labelColor: rgba(255, 255, 255, 0.55);
$disableOpacity: 0.5;
$grey1: #000;
$grey2: #262626;
$grey3: #595959;
$grey4: #8c8c8c;
$grey5: #bfbfbf;
$grey6: #d9d9d9;
$grey7: #e8e8e8;
$grey8: #f5f5f5;
$grey9: #f9f9f9;
$grey10: #ffffff;
$pageTitleColor: #3a4558;
$waitRun: #6CA0F4;
$running: #A286FF;
$user: #6CA0F5;
$user1: #A286FF;
$user2: #6CA0F5;
$env: #E8B819;
$tagColor: #6ca0f5;
$devTag: #6ca0f5;
$publishedTag: #2bc048;
$draftTag: #eaba19;
$generalColor: #2344a0;
$otherColor: #006853;
$processColor: #303746;
$dimensionTable: #2bc048;
$factTable: #eaba19;
$polymerTable: #a186ff;
$editorDarkBg: #1f2740;
$editorDarkLineNumberFg: #5a5a5a;
$editorDarkIndentGuideBg: #485065;
$editorDarkInactiveSelectionBg: #3a3d41;
$editorDarkLineHighlightBg: #343f60;
$editorDarkLineHighlightBgShadow: #44506E;
$editorDarkFindMatchHighlightBg: #ffc600;
$editorDarkWidgetBg: #58627f;
$editorLightSelectionBg: #46aaff;
$editorLightFindMatchHighlightBg: #f56236;
$screenItemTag: #e2e5f0;
$myBtn: rgba(33,83,212);
$myError: #ff7474;